


/*base*/
body{
    background-color: ghostwhite;
}
.rubies-circle{
    width: 40%;
    background-color: #eeeeee;
    margin: 0 auto;
    height: 100vh;
}

/*top*/
.top{
    height: 40vh;
    width: 100%;
}
.top .special-top{
    text-align: center;
    padding: 13vh 0 0 0;
}
.top .special-top .logo-holder{
    background-color: #ffffff;
    padding: 7px 7px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}
.top .special-top .logo-holder img{
    height: 35px;
    width: auto;
}
.top .special-top h4{
    font-size: 35px;
    font-weight: 200;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 0;
}
.top .special-top p{
    font-size: 12px;
    margin-bottom: 0;
    color: #a1a1a1;
}
.top .special-top p span{}
.top .special-top h6{
    font-size: 8px;
    margin-bottom: 0;
    color: #a1a1a1;
}

.top .top-base{}

/*bottom*/
.bottom{
    min-height: 60vh;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bottom .bottom-contents{
    padding: 40px 40px 20px 40px;
}
.ui-collapsible__header {
    background-color: #ffffff !important;
    cursor: pointer !important;
    display: block !important;
    min-height: 10px !important;
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
}
.ui-collapsible:not(.is-disabled) .ui-collapsible__header:hover,
body[modality="keyboard"] .ui-collapsible:not(.is-disabled) .ui-collapsible__header:focus {
    background-color: #ffffff !important;
}
.ui-collapsible__header-content {
    padding-right: 0 !important;
}
.ui-collapsible__body {
    border: none !important;
    padding: 5px 16px 20px 16px !important;
}
.task{
    padding: 0 0 0 0;
    cursor: pointer;
    position: relative;
}
.task .hold{
    display: flex;
}
.task .task-img{
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
}
.task .task-top{
    display: block;
    padding: 3px 0 0 0;
    width: 87%;
}

.task .task-head{
    display: block;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: left;
}
.task .task-head .hold{
    /*display: flex;*/
}
.task .task-head .hold .header{
    /*display: inline-block;*/
}
.task .task-head .hold .time{
    /*display: inline-block;*/
}
.task .time{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    color: #ccc;
    font-weight: 100;
    font-size: 9px;
}
.task .task-intro{
    display: block;
    color: #c7c9c8;
    font-size: 12px;
    font-weight: 200;
    line-height: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    text-align: left;
}
.blue{
    background-color: #0e48b6;
    /*background-color: #00BCD4;*/
}
.green{}
.pink{}
.grey{}

/*bottom*/
