<template>
    <section class="bottom">
        <div class="bottom-contents">
            <!--<div class="task">-->
                <!--<div class="hold">-->
                    <!--<div class="task-img blue"></div>-->
                    <!--<div class="task-top">-->
                        <!--<div class="task-head">-->
                            <!--House on the Rock-->
                        <!--</div>-->
                        <!--<div class="task-intro">-->
                            <!--we need you to donate the sum of &#8358;30,000.00 to the church-->
                            <!--we need...-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span class="time">Yesterday</span>-->
            <!--</div>-->

            <div v-for="(task, index) in getTasks">
                <ui-collapsible title="Collapsible 1" :open="accordions[index]"
                                @open="onAccordionOpen(index)" @close="onAccordionClose(index)"
                                :removeIcon="true" :disableRipple="true"
                >
                    <div slot="header">
                        <div class="task">
                            <div class="hold">
                                <div class="task-img blue"></div>
                                <div class="task-top">
                                    <div class="task-head">
                                        {{task.groupname}}
                                    </div>
                                    <div class="task-intro">
                                        {{task.tasksubject}}
                                    </div>
                                </div>
                            </div>
                            <span class="time">Yesterday</span>
                        </div>
                    </div>


                    <div class="task-body">
                        <p>
                            {{task.taskdescription}}
                        </p>

                        <div class="action-base">
                            <div class="row">
                                <div class="col-sm-4">
                                <span class="action-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                        <circle cx="25" cy="25" r="25" fill="#25AE88"></circle>
                                        <polyline points=" 38 15 22 33 12 25 " style="fill:none;stroke-linejoin:round;stroke-width:2;stroke:#FFF"></polyline>
                                    </svg>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="action-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                        <circle cx="25" cy="25" r="25" fill="#D75A4A"></circle>
                                        <polyline points="16 34 25 25 34 16 " class="a"></polyline>
                                        <polyline points="16 16 25 25 34 34 " class="a"></polyline>
                                    </svg>
                                </span>
                                </div>

                                <div class="col-sm-4">
                                <span class="action-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58">
                                        <circle cx="7" cy="29" r="7" class="b"></circle>
                                        <circle cx="51" cy="29" r="7" class="b"></circle>
                                        <circle cx="29" cy="29" r="7" class="b"></circle>
                                        <circle cx="7" cy="29" r="7" class="b"></circle>
                                        <circle cx="51" cy="29" r="7" class="b"></circle>
                                        <circle cx="29" cy="29" r="7" class="b"></circle>
                                    </svg>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui-collapsible>
            </div>




        </div>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "BottomSection",
        components: {},
        data () {
            return {
                tasks: [],

                accordions: {},
            }
        },
        computed: {
            ...mapGetters([
                'getTasks',
            ])
        },
        created () {
            this.fetchTasks();
        },
        methods: {
            ...mapActions([
                'updateNetworkError',
                'updateAppLoading',
                'updateTasks',
            ]),


            onAccordionOpen(id) {
                Object.keys(this.accordions).forEach(key => {
                    this.accordions[key] = key == id; // eslint-disable-line eqeqeq
                });
            },
            onAccordionClose(key) {
                this.accordions[key] = false;
            },

            popAccordionController(_taskArray){
                let localAccordions = {};

                for (let i = 0; i < _taskArray.length; i++) {
                    localAccordions[i] = false;
                }

                this.accordions = localAccordions
            },


            fetchTasks(){
                //start app running
                this.updateAppLoading(true);

                let bodyToSend = {
                    _comment: "Send phonenumber to get the tasks for a user. leave phonenumber empty to get all tasks",
                    phonenumber: "2347038901116",
                }

                axios
                    .post('/circlegetcircletasks', bodyToSend,
                        {
                            headers : {
                                // 'Authorization': this.getDataOnLogin.authorization,
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            }})
                    .then(response => {
                        //stop app running
                        this.updateAppLoading(false);

                        let responseData =  response.data;

                        console.log('responseData ==>>', responseData);

                        if (responseData.responsecode === '00'){
                            this.updateTasks(responseData.tasks)

                            this.popAccordionController(this.getTasks)
                        }
                        else {
                            // Set Network Error to true Globally
                            this.updateNetworkError(true);
                        }

                    })
                    .catch(error => {
                        //stop app running
                        this.updateAppLoading(false);

                        // log Error
                        console.log(error);

                        // Set Network Error to true Globally
                        this.updateNetworkError(true);
                    })
            },
        },
        mounted(){
            this.$nextTick(()=>{ });
        },
    }
</script>

<style scoped>
    .task-body{
        padding: 0 0 5px 45px;
    }
    .task-body p{
        font-size: 13px;
        text-align: left;
        margin-bottom: 20px;
    }

    .task-body .action-base{}
    .task-body .action-base .action-icon{
        cursor: pointer;
    }
    .task-body .action-base .action-icon svg{
        height: 25px;
        width: 25px;
    }

    .task-body .action-base .action-icon svg .a{fill:none;stroke-width:2;stroke:#FFF;}
    .task-body .action-base .action-icon svg .b{fill:#7383BF;}



</style>