<template>
    <section>
        <div v-if="getNetworkError">
            <div class="page-loading">
                <!--<ui-preloader :show="true"></ui-preloader>-->
                <div class="lds-css ng-scope">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        quam recusandae sapiente sint totam ut voluptates?
                    </p>
                </div>
            </div>
        </div>
        <div v-else>
            <div v-if="getAppLoading">
                <div class="page-loading">
                    <!--<ui-preloader :show="true"></ui-preloader>-->
                    <div class="lds-css ng-scope">
                        <div style="width:100%;height:100%" class="lds-ripple">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="rubies-circle">
                    <!--top-section-->
                    <topSection></topSection>

                    <!--bottom-section-->
                    <bottomSection></bottomSection>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'


    import TopSection from '../components/top/TopSection'
    import BottomSection from '../components/bottom/BottomSection'


    export default {
        name: "Home",
        components: {
            topSection: TopSection,
            bottomSection: BottomSection,
        },
        data () {
            return { }
        },
        computed: {
            ...mapGetters([
                'getNetworkError',
                'getAppLoading',
            ])
        },
        created () { },
        methods: { },
        mounted(){
            this.$nextTick(()=>{ });
        },
    }
</script>

<style scoped>
    .page-loading{
        position: absolute;
        background: rgba(255, 255, 255, .8);
        width: 100%;
        height: 100%;
        z-index: 99999;
        left: 0;
        top: 0;
        transition: all 2s ease-in-out;
        overflow: hidden;
    }
    @keyframes lds-ripple {
        0% {
            top: 90px;
            left: 90px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 15px;
            left: 15px;
            width: 150px;
            height: 150px;
            opacity: 0;
        }
    }
    @-webkit-keyframes lds-ripple {
        0% {
            top: 90px;
            left: 90px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 15px;
            left: 15px;
            width: 150px;
            height: 150px;
            opacity: 0;
        }
    }
    .lds-ripple {
        position: relative;
        margin: 40vh auto;
        transition: all 2s ease-in-out;
    }
    .lds-ripple div {
        box-sizing: content-box;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(1) {
        border-color: rgba(192, 32, 38, 1);
    }
    .lds-ripple div:nth-child(2) {
        border-color: rgba(192, 32, 38, .5);
        -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
    }
    .lds-ripple {
        width: 200px !important;
        height: 200px !important;
        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }

</style>