<template>
    <section class="top">
        <div class="special-top">
            <div class="logo-holder">
                <img src="https://rubies-ibank-test-two.s3-us-west-2.amazonaws.com/img/new-rubies-logo.png" alt="">
            </div>
            <h4>Rubies Circle</h4>
            <p><span>&#8358;</span>50,000.00</p>
            <h6>20 unread messages</h6>
        </div>

        <div class="top-base"></div>
    </section>
</template>

<script>
    export default {
        name: "TopSection"
    }
</script>

<style scoped>

</style>